<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Looping and List Comprehension

_Authors: Riley Dallas (ATX)_

---

## Lesson Objectives
---
1. Review of `for` loops
2. Understand how to create list comprehensions
3. Use list comprehension to map and filter enumerable objects

## `for` Loops
---

The `for` statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any enumerable object (such as strings, lists, tuples, dict and so on) 
in a `for` loop.
```python
for number in [1, 2, 3]: 
    print(number) 
    print('Yes' * number) 
    print('') # Creates a line break after each iteration
```

The loop above has the following parts:
1. The word `for`
2. A variable that you create (`number`), which be be used for each item in the sequence
3. The word `in`
4. The sequence to iterate over

Copy and paste the loop above to see what it does.

## Repeat `for` loops
---

Let's try a simple repeat `for` loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 10 times.

## Looping over strings
---

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [2]:
word = "computer"
for char in word:
    print(char)

c
o
m
p
u
t
e
r

## Looping over dictionaries
---

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

## Mapping
---

We can also use `for` loops to perform item-wise transformations on a list. Let's say we have a list of numbers, 1-10:

```python
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In the cell below, create a new list (`squared_numbers`) that loops through `numbers` and squares each one.

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
squared_numbers = []
for number in numbers:
    squared_numbers.append(number * number)

## List Comprehension
---

The above code works correctly, hower in Python there's a way to do this more succinctly using list comprehension.

In [7]:
# Recreate squared_numbers using list comprehension
squared_numbers = [n * n for n in numbers]
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names
---

Given the following list:
```python
names = ['Xlegic', 'John', 'Jasmine', 'Eva']
```

Use list comprehension to lowercase each name.

In [13]:
names = ['Xlegic', 'John', 'Jasmine', 'Eva']

    
[name.lower() for name in names]

['xlegic', 'john', 'jasmine', 'eva']

## Practice: odds and evens
---

Sometimes your transformations are more complex, and might require a function. Let's walk through an example:

1. Create a list of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your list of integers and return a list of odd/even strings

In [18]:
# create an list of integers: 1-100
list_of_numbers = [number for number in range(1,101)]

print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [61]:
# create a function that accepts a single integer, 
# and returns the string 'odd' or 'even', depending on the integer

# ["odd" for num in list_of_numbers if num % 2 != 0, "even" for num in list_of_numbers if num % 2 == 0]

def even_or_odd(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"

even_or_odd(20)

'even'

In [63]:
# use list comprehension to convert your list of integers 
# to an list of odd/even strings

even_odd_list = [even_or_odd(num) for num in list_of_numbers]

even_odd_list

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

## Filtering
---

Filtering is when you return a subset of a given list that meets a certain condition. Like mapping, we can use list comprehension to filter. 

Given the following list of people:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]
```

Use list comprehension to return only those individuals whose role is `'student'`.

In [71]:
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]

classroom[0].keys()

[individual for individual in classroom if individual["role"] == "student"]

[{'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'}]

Now let's use list comprehension to filter our list to be teachers.

In [73]:
[individual for individual in classroom if individual["role"] == "teacher"]

[{'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Teacher McTeacherson', 'role': 'teacher'}]

## Practice: Finding primes
---

In the cells provided, do the following:

Create a function (`is_prime`) that takes a given number and returns `True` if it's prime and `False` if it's not.

Reminder: 1 is not a prime.

In [99]:
# is_prime

def is_prime(number):
    if number == 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

# is_prime(47)
# is_prime(83)
# is_prime(12)
is_prime(2)

True

Now, create a list of numbers, 1-100

In [100]:
# numbers 1-100
numbers_list = [i for i in range(1,101)]

Filter your list of numbers to just the primes

In [109]:
# Filter the primes

prime_list = [i for i in numbers_list if is_prime(i)]

prime_list

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [102]:
[(num, is_prime(num)) for num in numbers_list]

[(1, False),
 (2, True),
 (3, True),
 (4, False),
 (5, True),
 (6, False),
 (7, True),
 (8, False),
 (9, False),
 (10, False),
 (11, True),
 (12, False),
 (13, True),
 (14, False),
 (15, False),
 (16, False),
 (17, True),
 (18, False),
 (19, True),
 (20, False),
 (21, False),
 (22, False),
 (23, True),
 (24, False),
 (25, False),
 (26, False),
 (27, False),
 (28, False),
 (29, True),
 (30, False),
 (31, True),
 (32, False),
 (33, False),
 (34, False),
 (35, False),
 (36, False),
 (37, True),
 (38, False),
 (39, False),
 (40, False),
 (41, True),
 (42, False),
 (43, True),
 (44, False),
 (45, False),
 (46, False),
 (47, True),
 (48, False),
 (49, False),
 (50, False),
 (51, False),
 (52, False),
 (53, True),
 (54, False),
 (55, False),
 (56, False),
 (57, False),
 (58, False),
 (59, True),
 (60, False),
 (61, True),
 (62, False),
 (63, False),
 (64, False),
 (65, False),
 (66, False),
 (67, True),
 (68, False),
 (69, False),
 (70, False),
 (71, True),
 (72, False),
 (73, True),
 (74, False),
 (75, False),
 (76, False),
 (77, False),
 (78, False),
 (79, True),
 (80, False),
 (81, False),
 (82, False),
 (83, True),
 (84, False),
 (85, False),
 (86, False),
 (87, False),
 (88, False),
 (89, True),
 (90, False),
 (91, False),
 (92, False),
 (93, False),
 (94, False),
 (95, False),
 (96, False),
 (97, True),
 (98, False),
 (99, False),
 (100, False)]

## List Comprehension: Dictionaries
---

Despite the name, list comprehension is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}
```

We might want to lowercase all the email addresses before saving them to a database. In the block below, map through `users` and return the same dictionary, but with all the emails lowercased.

In [120]:
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}

{user_number: email.lower() for user_number, email in users.items()}

{'user1': 'foo@bar.com', 'user2': 'john@doe.com', 'user3': '90srule@aol.com'}

In [123]:
# list of just emails

[email.lower() for email in users.values()]

['foo@bar.com', 'john@doe.com', '90srule@aol.com']

# Filtering Dictionaries
---

If we can map dictionaries, we can also filter them. Using our `users` dictionary from above, let's filter only users who have an AOL account.

In [131]:
{user: email for user, email in users.items() if email.endswith('AOL.COM')}

{'user3': '90SRULE@AOL.COM'}

In [138]:
type({user: email for user, email in users.items() if email.endswith('AOL.COM')})

dict

In [132]:
[user for user, email in users.items() if email.endswith('AOL.COM')]

['user3']

In [135]:
type([user for user, email in users.items() if email.endswith('AOL.COM')])

list