<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Higher household income has been linked to higher education levels due to the capacity of parents to finance their children's tuition. As such, should education expenses be fully tax deductible? Is a state's exam score a resemblance of its median income?

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

Datasets used:

1. act_2017.csv: 2017 ACT Scores by State
2. act_2018.csv: 2018 ACT Scores by State
3. sat_2017.csv: 2017 SAT Scores by State
4. sat_2018.csv: 2018 SAT Scores by State
5. Median_Income_2017_2018.csv: 2017 and 2018 Median Household Income by State
Source: https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

#TODO:

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code:

numbers_list = [10, 12, 20, 22, 34, 40]

def find_mean(list_of_numbers):
    count = 0
    total_sum = 0
    for number in list_of_numbers:
        total_sum += number
        count += 1
    return total_sum / count

find_mean(numbers_list)

23.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code:

numbers_list = [10, 12, 20, 22, 34, 40]

def find_std(list_of_numbers):
    list_mean = find_mean(list_of_numbers)
    sum_std = 0
    for number in list_of_numbers:
        sum_std += ( 1 / len(list_of_numbers) ) * ((number - list_mean) ** 2)
    result = sum_std ** (0.5)
    return result
        
find_std(numbers_list)

10.878112581387146

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
# Code:

string_list = ["50%", "30.5%", "42.1%"]

def decimal_approx(list_of_strings):
    result = []
    for i in list_of_strings:
        result.append(round(float(i.strip("%"))/100, 3))
    return result

decimal_approx(string_list)

[0.5, 0.305, 0.421]

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [4]:
# Imports:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [187]:
# Function to edit state names.
# Replaces space into underscore
# Lowecases all letters

def name_edits(list_state_name):
    for name in list_state_name:
        list_state_name = [name.lower().replace(" ", "_") for name in list_state_name]
    return list_state_name

In [406]:
# Code:
# Data used are: 
act_2017 = pd.read_csv("../data/act_2017.csv") # rows: 52, cols: 7. Has National
act_2018 = pd.read_csv("../data/act_2018.csv") # rows: 52, cols: 3. Has extra Maine
sat_2017 = pd.read_csv("../data/sat_2017.csv") # rows: 51, cols: 5
sat_2018 = pd.read_csv("../data/sat_2018.csv") # rows: 51, cols: 5

# when:
# col: 3 = State, Participation, Composite
# col: 7 = col 3 + English, Math, Reading, Science
# col: 5 = State, Participation, Evidence-Based Reading and Writing, Math, Total

In [275]:
act_2017.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [278]:
act_2017.describe()

,act_2017_part,act_2017_eng,act_2017_math,act_2017_read,act_2017_sci,act_2017_comp
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,0.651538,20.919231,21.173077,22.001923,21.040385,21.509615
std,0.318325,2.332132,1.963602,2.048672,3.151113,2.002083
min,0.080000,16.300000,18.000000,18.100000,2.300000,17.800000
25%,0.310000,19.000000,19.400000,20.475000,19.900000,19.800000
50%,0.680000,20.550000,20.900000,21.700000,21.150000,21.400000
75%,1.000000,23.300000,23.100000,24.125000,22.525000,23.600000
max,1.000000,25.500000,25.300000,26.000000,24.900000,25.500000

In [322]:
# Note: Cleaning act_2017 data:
act_2017.info()

# 1. First, find out why composite is an object.
# Then, find and replace string with number
for value in act_2017["Composite"]:
    try:
        float(value)
    except:
        print(value, "is a string")
        print(act_2017.loc[act_2017["Composite"] == value])
        
# 2. Change type from object to float
act_2017.loc[act_2017["State"] == "Wyoming", "Composite"] = 20.2
act_2017["Composite"] = pd.to_numeric(act_2017["Composite"])

# 3. Rename to lowercase and shorter name. Remember to describe later on.
act_2017.rename(columns={"State": "state",
                         "Participation": "act_2017_part",
                         "English": "act_2017_eng",
                         "Math": "act_2017_math",
                         "Reading": "act_2017_read",
                         "Science": "act_2017_sci",
                         "Composite": "act_2017_comp"
                        }, inplace=True)

# 4. Change participation into floats using the function made from Q1(b)
act_2017["act_2017_part"] = decimal_approx(act_2017["act_2017_part"])

# 5. Renaming states into lowercase and replacing spaces to underscore
# using function above
act_2017["state"] = name_edits(act_2017["state"])

# 6. Maryland's science score is an anomaly, 
# therefore we derive it from the available data.
act_2017.loc[act_2017["state"] == "maryland", "act_2017_sci"]
act_2017.loc[act_2017["state"] == "maryland", "act_2017_sci"] = \
    act_2017.loc[act_2017["state"] == "maryland", "act_2017_comp"] * 4 \
    - act_2017.loc[act_2017["state"] == "maryland", "act_2017_read"] \
    - act_2017.loc[act_2017["state"] == "maryland", "act_2017_math"] \
    - act_2017.loc[act_2017["state"] == "maryland", "act_2017_eng"]

act_2017.info()
act_2017.head()
act_2017.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   act_2017_part  52 non-null     float64
 2   act_2017_eng   52 non-null     float64
 3   act_2017_math  52 non-null     float64
 4   act_2017_read  52 non-null     float64
 5   act_2017_sci   52 non-null     float64
 6   act_2017_comp  52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

,act_2017_part,act_2017_eng,act_2017_math,act_2017_read,act_2017_sci,act_2017_comp
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,0.651538,20.919231,21.173077,22.001923,21.453846,21.509615
std,0.318325,2.332132,1.963602,2.048672,1.737303,2.002083
min,0.080000,16.300000,18.000000,18.100000,18.200000,17.800000
25%,0.310000,19.000000,19.400000,20.475000,19.975000,19.800000
50%,0.680000,20.550000,20.900000,21.700000,21.300000,21.400000
75%,1.000000,23.300000,23.100000,24.125000,23.200000,23.600000
max,1.000000,25.500000,25.300000,26.000000,24.900000,25.500000

In [407]:
act_2018.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [408]:
# Note: Cleaning act_2018 data:

act_2018.info()

# 1. Rename to lowercase and shorter name. Remember to describe later on.
act_2018.rename(columns={"State": "state",
                         "Participation": "act_2018_part",
                         "Composite": "act_2018_comp"
                        }, inplace=True)

# 2. Change participation into floats using the function made from Q1(b)
act_2018["act_2018_part"] = decimal_approx(act_2018["act_2018_part"])

# 3. Renaming states into lowercase and replacing spaces to underscore
# using function above
act_2018["state"] = name_edits(act_2018["state"])

# 4. There are two "Maine" entries. Need to drop one, then reset_index.
# Remember to inplace=True and drop=True to avoid duplicating
act_2018["state"].value_counts().sort_values(ascending=False).head()
act_2018.drop(index=19, inplace=True)
act_2018.reset_index(drop=True, inplace=True)

# 5. Checking if data is sufficiently clean
act_2018.info()
act_2018.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          51 non-null     object
 1   act_2018_part  51 non-null     float64
 2   act_2018_comp  51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

        state  act_2018_part  act_2018_comp
0     alabama           1.00           19.1
1      alaska           0.33           20.8
2     arizona           0.66           19.2
3    arkansas           1.00           19.4
4  california           0.27           22.7

In [351]:
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [376]:
# Note: Cleaning sat_2017 data:

sat_2017.info()

# 1. Rename to lowercase and shorter name. Remember to describe later on.
sat_2017.rename(columns={"State": "state",
                         "Participation": "sat_2017_part",
                         "Total": "sat_2017_total",
                         "Evidence-Based Reading and Writing": "sat_2017_read_write",
                         "Math": "sat_2017_math"
                        }, inplace=True)

# 2. Renaming states into lowercase and replacing spaces to underscore
# using function above
sat_2017["state"] = name_edits(sat_2017["state"])

# 3. Change participation into floats using the function made from Q1(b)
sat_2017["sat_2017_part"] = decimal_approx(sat_2017["sat_2017_part"])

# 4. Maryland's math data is an anomaly. Let's derive it from the Total
sat_2017["sat_2017_math"].sort_values(ascending=True) 
sat_2017.loc[sat_2017["sat_2017_math"] == 52, "state"] # Find state with math = 52
sat_2017.loc[sat_2017["state"] == "maryland", "sat_2017_math"] = \
    sat_2017.loc[sat_2017["state"] == "maryland", "sat_2017_total"]\
    - sat_2017.loc[sat_2017["state"] == "maryland", "sat_2017_read_write"]

# 5. Fixing Total
# Try summing up. 15 of the Totals are not the sum of R&W + Math.
sat_2017.loc[sat_2017["sat_2017_math"] + sat_2017["sat_2017_read_write"]\
             != sat_2017["sat_2017_total"], "state"]    # Found 15 Totals not matched
# Fixing total = math + read_write
sat_2017["sat_2017_total"] = sat_2017["sat_2017_math"] + sat_2017["sat_2017_read_write"]

# 6. Checking if data is sufficiently clean
sat_2017.head()
sat_2017.info()
sat_2017.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                51 non-null     object
 1   sat_2017_part        51 non-null     float64
 2   sat_2017_read_write  51 non-null     int64
 3   sat_2017_math        51 non-null     int64
 4   sat_2017_total       51 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

       sat_2017_part  sat_2017_read_write  sat_2017_math  sat_2017_total
count      51.000000            51.000000      51.000000       51.000000
mean        0.398039           569.117647     556.882353     1126.000000
std         0.352766            45.666901      47.121395       92.487621
min         0.020000           482.000000     468.000000      950.000000
25%         0.040000           533.500000     523.500000     1055.500000
50%         0.380000           559.000000     548.000000     1106.000000
75%         0.660000           613.000000     599.000000     1211.500000
max         1.000000           644.000000     651.000000     1295.000000

In [394]:
sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [397]:
# Note: Cleaning sat_2017 data:

sat_2018.describe()

# 1. Rename to lowercase and shorter name. Remember to describe later on.
sat_2018.rename(columns={"State": "state",
                         "Participation": "sat_2018_part",
                         "Total": "sat_2018_total",
                         "Evidence-Based Reading and Writing": "sat_2018_read_write",
                         "Math": "sat_2018_math"
                        }, inplace=True)

# 2. Renaming states into lowercase and replacing spaces to underscore
# using function above
sat_2018["state"] = name_edits(sat_2018["state"])

# 3. Change participation into floats using the function made from Q1(b)
sat_2018["sat_2018_part"] = decimal_approx(sat_2018["sat_2018_part"])

# 4. Fixing Total
# Try summing up. 9 of the totals are not the sum of read_write + math.
# Fixing total = math + read_write
sat_2018.loc[sat_2018["sat_2018_math"] + sat_2018["sat_2018_read_write"]\
            != sat_2018["sat_2018_total"], "state"] # Found 9
sat_2018["sat_2018_total"] = sat_2018["sat_2018_math"] \
                           + sat_2018["sat_2018_read_write"]

# 5. Checking if data is sufficiently clean
sat_2018.info()
sat_2018.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                51 non-null     object
 1   sat_2018_part        51 non-null     float64
 2   sat_2018_read_write  51 non-null     int64
 3   sat_2018_math        51 non-null     int64
 4   sat_2018_total       51 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

,state,sat_2018_part,sat_2018_read_write,sat_2018_math,sat_2018_total
0,alabama,0.06,595,571,1166
1,alaska,0.43,562,544,1106
2,arizona,0.29,577,572,1149
3,arkansas,0.05,592,576,1168
4,california,0.60,540,536,1076

In [413]:
# act_2017.shape # 52, 7
# act_2018.shape # 51, 3
# sat_2017.shape # 51, 5
# sat_2018.shape # 51, 5

(51, 5)

In [420]:
# Merging

df = act_2017.merge(act_2018, on = "state", how = "outer")\
             .merge(sat_2017, on = "state", how = "outer")\
             .merge(sat_2018, on = "state", how = "outer")
df.describe()

,act_2017_part,act_2017_eng,act_2017_math,act_2017_read,act_2017_sci,act_2017_comp,act_2018_part,act_2018_comp,sat_2017_part,sat_2017_read_write,sat_2017_math,sat_2017_total,sat_2018_part,sat_2018_read_write,sat_2018_math,sat_2018_total
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,0.651538,20.919231,21.173077,22.001923,21.453846,21.509615,0.617255,21.496078,0.398039,569.117647,556.882353,1126.000000,0.457451,563.686275,556.235294,1119.921569
std,0.318325,2.332132,1.963602,2.048672,1.737303,2.002083,0.340371,2.111583,0.352766,45.666901,47.121395,92.487621,0.373143,47.502627,47.772623,94.189138
min,0.080000,16.300000,18.000000,18.100000,18.200000,17.800000,0.070000,17.700000,0.020000,482.000000,468.000000,950.000000,0.020000,480.000000,480.000000,977.000000
25%,0.310000,19.000000,19.400000,20.475000,19.975000,19.800000,0.285000,19.950000,0.040000,533.500000,523.500000,1055.500000,0.045000,534.500000,522.500000,1058.000000
50%,0.680000,20.550000,20.900000,21.700000,21.300000,21.400000,0.660000,21.300000,0.380000,559.000000,548.000000,1106.000000,0.520000,552.000000,544.000000,1097.000000
75%,1.000000,23.300000,23.100000,24.125000,23.200000,23.600000,1.000000,23.650000,0.660000,613.000000,599.000000,1211.500000,0.775000,610.500000,593.500000,1204.000000
max,1.000000,25.500000,25.300000,26.000000,24.900000,25.500000,1.000000,25.600000,1.000000,644.000000,651.000000,1295.000000,1.000000,643.000000,655.000000,1298.000000

In [487]:
# Dropping national
df.drop(index=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [716]:
# Clean external dataset and merge

med_inc = pd.read_csv("../data/Median_Income_2017_2018.csv")

# 1. Drop national average from list and reset index.
med_inc.drop(index=0, inplace=True)
med_inc.reset_index(drop=True, inplace=True)
med_inc.head()

# 2. Modify spaces into underscore and uppercase to lowercase.
med_inc["state"] = name_edits(med_inc["state"])

# 3. Rename column names for median income
med_inc.rename(columns={"2018": "2018_median_income",
                        "2017": "2017_median_income"},\
                        inplace=True)
display(med_inc.head(3))

# 4. Merging to df
df = df.merge(med_inc, on="state", how="outer")

     state 2018_median_income 2017_median_income
0  alabama             49,936             50,865
1   alaska             68,734             77,987
2  arizona             62,283             59,700

In [720]:
df.head(3)

,state,act_2017_part,act_2017_eng,act_2017_math,act_2017_read,act_2017_sci,act_2017_comp,act_2018_part,act_2018_comp,sat_2017_part,sat_2017_read_write,sat_2017_math,sat_2017_total,sat_2018_part,sat_2018_read_write,sat_2018_math,sat_2018_total,2018_median_income,2017_median_income
0,alabama,1.00,18.9,18.4,19.7,19.4,19.2,1.00,19.1,0.05,593.0,572.0,1165.0,0.06,595.0,571.0,1166.0,"49,936","50,865"
1,alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.33,20.8,0.38,547.0,533.0,1080.0,0.43,562.0,544.0,1106.0,"68,734","77,987"
2,arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.66,19.2,0.30,563.0,553.0,1116.0,0.29,577.0,572.0,1149.0,"62,283","59,700"

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example| 
|state|object|ACT&SAT|US State
|act_2017_part|float|ACT|2017 Participation Rate
|act_2017_eng|float|ACT|2017 English Score
|act_2017_math|float|ACT|2017 Math Score
|act_2017_read|float|ACT|2017 Reading Score
|act_2017_sci|float|ACT|2017 Science Score
|act_2017_comp|float|ACT|2017 Composite Score
|act_2018_part|float|ACT|2018 Participation Rate
|act_2018_comp|float|ACT|2018 Composite Score
|sat_2017_part|float|SAT|2017 Participation Rate
|sat_2017_read_write|int|SAT|2017 Evidence-Based Reading and Writing Score
|sat_2017_math|int|SAT|2017 Math Score
|sat_2017_total|int|SAT|2017 Total Score
|sat_2018_part|float|SAT|2018 Participation Rate
|sat_2018_read_write|int|SAT|2018 Evidence-Based Reading and Writing Score
|sat_2018_math|int|SAT|2018 Math Score
|sat_2018_total|int|SAT|2018 Total Score
|2017_median_income|int|N/A|2017 Median Household Income by State
|2018_median_income|int|N/A|2018 Median Household Income by State

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [680]:
sd = {i: find_std(df[i]) for i in df.columns[1:]}
sd

In [667]:
#Code:
sd = ["stdev"]
column_names = ['act_2017_part', 'act_2017_eng', 'act_2017_math',
       'act_2017_read', 'act_2017_sci', 'act_2017_comp', 'act_2018_part',
       'act_2018_comp', 'sat_2017_part', 'sat_2017_read_write',
       'sat_2017_math', 'sat_2017_total', 'sat_2018_part',
       'sat_2018_read_write', 'sat_2018_math', 'sat_2018_total']

for i in column_names:
    sd.append(find_std(df[i]))


df.loc[len(df.index)] = sd

# df.drop(51, inplace=True)

df.tail(2)

,state,act_2017_part,act_2017_eng,act_2017_math,act_2017_read,act_2017_sci,act_2017_comp,act_2018_part,act_2018_comp,sat_2017_part,sat_2017_read_write,sat_2017_math,sat_2017_total,sat_2018_part,sat_2018_read_write,sat_2018_math,sat_2018_total
50,wyoming,1.000000,19.400000,19.800000,20.800000,20.600000,20.200000,1.000000,20.000000,0.030000,626.00000,604.000000,1230.00000,0.030000,633.00000,625.000000,1258.000000
51,stdev,0.318242,2.330488,1.962462,2.046903,1.736117,2.000786,0.337017,2.090779,0.349291,45.21697,46.657134,91.57639,0.369466,47.03461,47.301946,93.261144

In [686]:
# Code for Observation 1: Highest participation on act and sat for 2017 and 2018
display(df.sort_values(["act_2017_part", "act_2018_part"], ascending=False)\
        [["state", "act_2017_part", "act_2018_part"]].head(20))
display(df.sort_values(["sat_2017_part", "sat_2018_part"], ascending=False)\
        [["state", "sat_2017_part", "sat_2018_part"]].head(5))
display(df.sort_values("act_2017_part", ascending=False)\
        [["state", "act_2017_part"]].head(8))
display(df.sort_values("act_2018_part", ascending=False)\
        [["state", "act_2018_part"]].head(8))
display(df.sort_values("sat_2017_part", ascending=False)\
        [["state", "sat_2017_part"]].head(5))
display(df.sort_values("sat_2018_part", ascending=False)\
        [["state", "sat_2018_part"]].head(5))

Observation 1: Almost all states which have the highest ACT participation rate in 2017 have the highest ACT participation rate in 2018.

100% Participation in both 2017 and 2018 ACT: AL, AR, KY, LA, MS, MO, MT, NV, NC, OK, SC, TN, UT, WI, WY

100% Participation in both 2017 and 2018 SAT: CT, DE, MI

In [679]:
# Code for observation 2: States with highest mean composite or total in 2017 and 2018
df.sort_values("act_2017_comp", ascending=False)[["state", "act_2017_comp"]].head(5)
df.sort_values("act_2018_comp", ascending=False)[["state", "act_2018_comp"]].head(5)
df.sort_values("sat_2017_total", ascending=False)[["state", "sat_2017_total"]].head(5)
df.sort_values("sat_2018_total", ascending=False)[["state", "sat_2018_total"]].head(5)

           state  sat_2018_total
23     minnesota          1298.0
49     wisconsin          1294.0
34  north_dakota          1283.0
15          iowa          1265.0
16        kansas          1264.0

Observation 2: States with the highest composite score for 2017 ACT generally have the highest scores in 2018 ACT. This is also true for 2017 and 2018 SAT. In each examination, the top 4 out of 5 states with the highest score are the same.

States which are in the top 5 of both years (2017 and 2018) are bolded below:

act_2017_comp highest: **New Hampshire, Massachusetts, Connecticut**, Maine, **New York**

act_2018_comp highest: **Connecticut, Massachusetts, New Hampshire, New York**, Michigan

sat_2017_total highest: **Minnesota, Wisconsin, Iowa,** Missouri, **Kansas**

sat_2018_total highest: **Minnesota, Wisconsin,** North Dakota, **Iowa, Kansas**

In [692]:
# Code for observation 3: Which states have more than 50% participation rates in  
# both exams (ACT and SAT) and both years (2017 and 2018)?
rate = 0.5
df.loc[(df["act_2017_part"] > rate) & (df["act_2018_part"] > rate)\
       & (df["sat_2017_part"] > rate) & (df["sat_2018_part"] > rate)][["state"]]

      state
9   florida
10  georgia
11   hawaii

Observation 3: Only Florida, Georgia and Hawaii have more than 50% participation rates in both exams in both years.

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!